*{
    font-family: "Gill Sans", sans-serif !important;
}

body {
    height: 100dvh;
}

.background {
    background-color: #bfcde8;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 90%;
    width: 400px;
    background-color: rgb(222, 231, 248);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container div {
    width: 80%;
    /* background-color: aliceblue; */
}

.logo {
    height: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username p {
    font-size: 1.1rem;

}
input {
    background: transparent;
}
.username,
.password {
    background-color: white;
    border-radius: 20px;
    padding: 1rem 1.2rem;
    box-sizing: border-box;

}
.mail-icon,
.eye-icon,
.lock-icon {
    height: 1rem;
    width: 1rem;
    /* margin-right: 0.3rem; */

}
.username div,
.password div {
    display: flex;
    margin-top: 0.6rem;
    align-items: center;
    gap: 0.3rem;
}
.username input {
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.password p {
    font-size: 1.1rem;

}

.password{
    margin-top: 4rem;
}
.password input {
    outline: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.6rem;
    font-size: 1.1rem;
}

.submit {
    background-color: #83a7fb;
    border: none;
    color: white;
    height: 35px;
    text-align: center;
    margin-top: 2rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register p {
    font-size: 0.8rem;
}

.register{
    margin-top: 3rem;
    color: #4b4d4f;
    display: flex;
    justify-content: space-between;
}
